@font-face {
	font-family: arcade;
	src: url(./fonts/arcadeclassic/ARCADECLASSIC.TTF);
}

html {
	font-family: arcade;
	background: linear-gradient(rgb(240, 248, 255), rgb(125, 193, 253)) no-repeat
		fixed;
	height: 100%;
	color: rgb(0, 33, 61);
	cursor: url("../images/cursors/cursor.png") 29 11, pointer;
}

body {
	min-width: 1129px;
	min-height: 676px;
}

header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

h1 {
	font-size: 100px;
	padding: 100px;
	text-shadow: -1px 1px 1px rgb(2, 55, 102);
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

button {
	font-size: 50px;
	font-family: arcade;
	width: 400px;
	padding: 15px;
	background: linear-gradient(rgb(240, 248, 255) 50%, rgb(125, 193, 253));
	box-shadow: -6px 6px 9px rgb(125, 193, 253);
	border: 2px solid rgb(0, 33, 61);
	transition: all 0.2s;
	color: rgb(0, 33, 61);
	cursor: url("../images/cursors/cursor.png") 29 11, pointer;
}

main a {
	margin-bottom: 50px;
}

button:hover {
	background: linear-gradient(rgb(240, 248, 255) 50%, rgb(77, 172, 255));
	transform: scale(0.99);
}

button:active {
	transform: translateX(-6px);
	transform: translateY(6px);
	box-shadow: none;
}
